NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://DB_USERNAME:yourpassword@localhost:5432/DB_name?schema=public"

# Mail (SMTP)
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your_smtp_user
MAIL_PASS=your_smtp_password
MAIL_FROM="SangRoot <noreply@sangroot.com>"